#!/usr/bin/env bash
#==========================================================================
# Initial author of this file: Martin.Vahi@softf1.com
# This file is in public domain.
# The following line is a spdx.org license label line:
# SPDX-License-Identifier: 0BSD
#
# This file is part of the mmmv_userspace_distro_t1 specific subpart of the
#
#     $HOME/.bashrc
#
#==========================================================================
S_FP_PREFIX="/home/ts3b/m_local/share/seadistusfaile/taustapildid/konverteeritud/konverteeritud_1280x1280/transport/monorail/"
S_FN="monorail_01_linnavaade_1280x1024.jpeg"
S_FP="$S_FP_PREFIX$S_FN"
if [ "$SB_XWALLPAPER_EXISTS_ON_PATH" == "t" ]; then
    if [ -e "$S_FP" ]; then
        if [ ! -d "$S_FP" ]; then
            xwallpaper --center $S_FP
        fi
    else
        func_mmmv_verify_that_the_file_exists_but_do_not_exit_t1 "$S_FP" \
            "3edb6a72-63e6-4c1f-b3e9-a00360e18ae7"
    fi
fi
#--------------------------------------------------------------------------
if [ "$SB_CONVERT_EXISTS_ON_PATH" == "t" ]; then
    if [ "$SB_SED_EXISTS_ON_PATH" == "t" ]; then
        # It's not placed among generally usable Bash aliases, because it
        # is an end user monitor size specific dirty hack alias. If it
        # weren't a dirty hack, then it would be way more difficult for
        # other people to read it, because the extra code would clutter
        # it up.
        alias mmmv_convert_image_to_bacground_image_with_framecolour_000000_1280x1024_t1="mmmv_polish_ABC_2_ACB_exec_t1 \"S_FP_INPUT_FILE_PATH=\\\"\"     \"\\\" ; SI_SCREEN_WIDTH=\\\"1280\\\"; SI_SCREEN_HEIGHT=\\\"1024\\\"; S_WxH=\\\"\\\$SI_SCREEN_WIDTH\\\"'x'\\\"\\\$SI_SCREEN_HEIGHT\\\" ; S_FP_OUTPUT_FILE_PATH=\\\"\\\`echo \\\$S_FP_INPUT_FILE_PATH | sed -e 's/\\\\([.][^.]\\\\+\\\\)\\\$/_'\\\$S_WxH'\\\\1/g' \\\`\\\" ; sync ; wait ; convert \\\"\\\$S_FP_INPUT_FILE_PATH\\\"  -resize \\\$S_WxH -background \\\"#000000\\\" -gravity center -extent \\\$S_WxH  \\\"\\\$S_FP_OUTPUT_FILE_PATH\\\"\" "
    fi
fi
#==========================================================================
# S_VERSION_OF_THIS_FILE="cbec3f35-c728-4320-93e9-a00360e18ae7"
#==========================================================================
